@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.switch {
  position: relative;
  width: 35px;
  height: 16px;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  cursor: pointer;
  /* transition: .5s; */
}

.switch::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.switch:checked::before {
  left: 20px;
  background: #006eb8;
}

.switch:checked {
  background: transparent;
  border: 1px solid #006eb8;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

#lane {
  position: absolute;
  height: 100vh;
  transform: rotate(90deg);
  top: 0;
  left: 50%;
  opacity: 0;
  z-index: 2;
  transition: 0.2s;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px white;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px white;
  }
}